html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.title {
  text-align: center;
}

.listItem {
  border: 1px solid #ccc;
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center;
}

/* caseList */
.case_list {
  padding: 0;
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.case_list .link {
  text-decoration: none;
  color: #000;
}
.case_list .listItem:hover {
  opacity: 0.7;
  transform: scale(1.05, 1.05);
  transition: 0.25s;
}

/* audioList */
.audio_list {
  padding: 0;
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.layout {
  margin: 0 auto;
  max-width: 960px;
  padding: 160px 20px 80px;
  min-height: 100vh;
  background-color: #eee;
  color: #000;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 4px gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px;
  background-color: #fff;
  z-index: 1000;
}

.header .link {
  text-decoration: none;
  color: #000;
  margin-right: 20px;
  font-size: 18px;
}

.header .logo {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 30px;
}
